.wrapper {
  max-width: 1024px;
  margin: 0 auto;
}
.header {
    display: flex;
}
.img {
  margin: 20px;
}
.name {
    padding-left: 40px;
}
.education {
  color: brown;
  padding: 10px 0px 10px 0px;
}
.studied {
  font-size: 20px;
}